nav>ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    padding: 5px 20px;
    background-color: rgb(4, 75, 75);
    color: aliceblue;
}

nav li a:hover{
    background-color: rgb(5, 95, 101);

}
nav>li{
    text-align: center;
}